<form name="sendin" action="<%=@linkloginonly %>" method="post">
  <input type="hidden" name="username" />
  <input type="hidden" name="password" />
  <input type="hidden" name="dst" value="<%=@linkorig %>" />
  <input type="hidden" name="popup" value="true" />
</form>

<script type="text/javascript">
    <!--
    function doLogin() {

        <% if !@chapid.present?  %>
            return true;
        <% end %>

            document.sendin.username.value = document.login.username.value;
            document.sendin.password.value = hexMD5('<%=@chapid %>' + document.login.password.value + '<%=@chapchallenge %>');
            document.sendin.submit();
            return false;
        }
    //-->
</script>

<form name="login" id="loginForm" action="<%=@linklogin %>" method="post" onSubmit="return doLogin()">
  <input type="hidden" name="dst" value="<%=@linkorig %>" />
  <input type="hidden" name="popup" value="true" />

  <div class="field">
    <label>Имя пользователя:</label>
    <div class="input"><input type="text" name="username" value="<%=@username %>" id="login" /></div>
  </div>

  <div class="field">
    <label>Пароль:</label>
    <div class="input"><input type="password" name="password" value="" id="pass" /></div>
  </div>

  <div class="submit">
    <button type="submit">Войти</button>
  </div>

</form>

<% if @error.present?  %>
    <br /><div style="color: #FF8080; font-size: 9px"><%=@error %></div>
<% end %>

<script type="text/javascript">
    <!--
    document.login.username.focus();
    //-->
</script>